@import "tailwindcss";
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  @media (min-width: 1536px) {
    .container {
      max-width: 1280px;
    }
  }
}

@font-face {
  font-family: "CustomFont";
  src: url("/path/to/font.woff2") format("woff2");
  font-display: swap;
}
